<!-- <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" fill="none" viewBox="0 0 18 16">
  <path d="M1 .5a.5.5 0 100 1h15.71a.5.5 0 000-1H1zM.5 8a.5.5 0 01.5-.5h15.71a.5.5 0 010 1H1A.5.5 0 01.5 8zm0 7a.5.5 0 01.5-.5h15.71a.5.5 0 010 1H1a.5.5 0 01-.5-.5z" fill="currentColor">
</svg> -->

<?xml version="1.0" encoding="UTF-8"?>
<svg width="31px" height="17px" viewBox="0 0 31 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" fill="none">
    <title>Group</title>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
        <g id="Nav-/-Mobile-Nav" transform="translate(-20.000000, -26.000000)" stroke="#000000" stroke-width="3">
            <g id="Group" transform="translate(21.000000, 27.000000)">
                <line x1="28.5" y1="0.5" x2="0.5" y2="0.5" id="Line-2"></line>
                <line x1="23.5" y1="14.5" x2="0.5" y2="14.5" id="Line-2-Copy"></line>
            </g>
        </g>
    </g>
</svg>