.collection-slider-section {
  margin-top: -135px;
}

.product-slider-section {
  margin-bottom: 0;
  padding: 0;
}

/* This is grid of slide */
.slick-slide .slider-wrapper {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
}

.left-col {
  width: 100%;
}

img.product-emotion-pic {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.middle-col {
  width: 100%;
}

.middle-col .description_slide {
  height: 100%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding: 20px 20px 50px 20px;
}

.right-col {
  width: 100%;
  position: absolute;
}

.middle-col .button {
  align-self: center;
  width: 100%;
}

@media screen and (min-width: 950px) {
  .product-slider-section {
    margin-top: 20vh;
    margin-bottom: 0;
    padding: 0;
  }

  .slick-slide .slider-wrapper {
    flex-wrap: nowrap;
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
  }

  .left-col {
    overflow: hidden;
    width: 30%;
  }

  img.product-emotion-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .middle-col {
    width: 45%;
  }

  .middle-col .description_slide {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 50px 20px;
  }

  .middle-col .button {
    align-self: flex-start;
    width: auto;
  }

  .right-col {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px 20px;
    position: relative;
  }

  .slick-slide .right-col img.product-image {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    right: 0;
    margin-left: 0;
  }
}

/* Finish grid slide */

@media screen and (max-width: 750px) {
  .product-slider-section__media {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 750px) {
  .product-slider-section__media--small {
    height: 31.4rem;
  }

  .product-slider-section__media--large {
    height: 69.5rem;
  }
}

.product-slider-section__media--placeholder {
  background-color: rgba(var(--color-foreground), 0.04);
  position: relative;
  /* overflow: hidden; */
}

.product-slider-section__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding: 15px 100px 100px;
}

@media screen and (max-width: 750px) {
  .product-slider-section__content {
    padding: 15px 0px;
  }
}

@media screen and (min-width: 950px) {
  .video-and-story__text,
  .product-slider-section__text {
    margin-left: 0px;
  }
}

.product-slider-section__text p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.color-background-3 {
  background-color: var(--color-base-background-3);
}

.color-background-4 {
  background-color: var(--color-base-background-4);
}

.color-background-3 * {
  color: white;
}

.mini__item.mini__item--posts {
  margin-left: auto;
  margin-right: auto;
  z-index: 9;
  max-width: 588px;
  margin-bottom: -230px;
}

@media screen and (min-width: 750px) {
  .mini__item.mini__item--posts {
    margin-bottom: 0px;
    margin-left: 0;
  }
}

@media screen and (min-width: 950px) {
  .video-and-story-content.grid_2_col > .col-1_2:nth-child(odd) {
    padding-right: 20px;
  }

  .video-and-story-content.grid_2_col > .col-1_2:nth-child(even) {
    padding-left: 50px;
  }
}

/* THIS IS STYLES FOR SCROLL EFFECT */
.box1,
.box2,
.box3 {
  display: inline-block;
  position: relative;
  border: 0px solid white;
  text-align: center;
  vertical-align: middle;
  padding: 0 5px;
}

.box1 {
  min-width: 100px;
  height: 100px;
  margin: 0 auto 0 auto;
}

.box2 {
  min-width: 50px;
  height: 50px;
  margin: 25px auto 25px auto;
}

.box3 {
  min-width: 26px;
  height: 26px;
  margin: 37px auto 37px auto;
}

.horizontal .box1 {
  top: 50%;
  max-height: 100px;
  margin: -50px 0 auto 0;
}

.horizontal .box2 {
  top: 50%;
  max-height: 50px;
  margin: -25px 25px auto 25px;
}

.horizontal .box3 {
  top: 50%;
  max-height: 26px;
  margin: -13px 37px auto 37px;
}

.box1 p,
.box2 p,
.box3 p {
  margin: 5px 15px 5px 15px;
  font-size: 13px;
  font-weight: lighter;
  color: white;
}

.title_row,
.product-slider-section__text {
  text-align: center;
  width: 100%;
}

.title_row > * {
  margin-bottom: 25px;
}

.centered_row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.centered_row > .button {
  margin: auto;
  width: 100%;
}

.centered_row > .button {
  margin: 20px auto;
}

.content_in_banner {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 950px) {
  .centered_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
  }

  .centered_row > .button {
    margin: 20px;
    width: 350px;
  }
}

/* NEW STYLES FOR CONTAINER  */
.slide_content_inner {
  width: 100%;
  height: 150vh;
  z-index: 9;
  position: relative;
}

@media screen and (max-width: 950px) {
  .information__text {
    padding-left: 50px;
  }
}

.slide_content_inner img {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 100%;
  object-position: right bottom;
}

@media screen and (min-width: 950px) {
  .slide_content_inner {
    width: 100%;
    height: 50vw;
  }

  .slide_content_inner img {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
    object-position: inherit;
  }
}

.featured-product-dadge {
  background-color: #ffc900;
  color: #000;
  border-radius: 27px;
  font-size: 1rem;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.slide_banner_conntent {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 100px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 950px) {
  .slide_banner_conntent {
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 170px;
  }

  .slide_banner_conntent .button {
    margin-left: auto;
    margin-right: auto;
  }
}

.slide_banner_conntent .button {
  margin-top: 50px;
  /* position: absolute;
  bottom: 0; */
}
