.input-wrapper {
  width: 100%;
}

#ingredientInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 540px;
  height: 50px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  border-radius: 25px;
  display: flex;
}


/* Ingredients items  */
a.ingredient-link {
  text-decoration: none;
  color: #000;
}

.inredients_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
t  justify-content: center;
}


.ingredient-card {
  min-width: 280px;
  max-width: 350px;
  min-height: 400px;
  max-height: 600px;
  background-color: #faf8f7;
  border: solid 4px #FAF8F7;
  border-radius: 20px;
  padding: 40px;
  transition: .6s;
  text-align: center;
  margin: 5px 0 20px 0;
}
@media screen and (min-width: 990px) {
  .ingredient-card {
    min-height: 500px;
    margin: 25px;
    padding: 50px;
  }
}

.ingredient-card:hover {
  background-color: #FFF;
}


.ingredients--text-area {
  height: 40%;
}


.bottom-text {
  height: 40px;
  margin-bottom: 0px;
}

.ingredient-card p {
  color: #706861;
  opacity: 1;
  transition: 0.5s;
}

.h4 {
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 35px;
}

hr.blog__title__line {
  width: 17%;
}

@media screen and (min-width: 990px) {
  hr.blog__title__line {
    display: block;
    width: 35px;
  }
}

.blog__read_all {
  font-size: 1rem;
  color: #014683;
  font-family: "Gellix-SemiBold";
  text-decoration: none;
  border-bottom: #FFC900 3px solid;
  /*   text-underline-position: under; */
  width: 120px;
  transition: 0.6s;
  text-transform: uppercase;
}

.blog__read_all:hover {
  border-bottom: #FFC900 5px solid;
  color: #0279A8;
}

.icon-arrow {
  width: 1em;
}

.more_area {
  transition: 0.6s;
  opacity: 0;
  margin-top: -20px;
}

.ingredient-card:hover p {
  opacity: 0;
  transform: translateY(-15px);
}

.ingredient-card:hover .more_area {
  transition: 0.7s;
  transform: translateY(-40px);
  opacity: 1;
  color: red;
}

.ingredient-picture {
  width: 100%;
}
@media screen and (min-width: 990px) {
  .ingredient-picture {
    height: 250px;
    width: 250px;
  }
}

.ingredient-picture img {
  margin: auto;
  width: calc(100% - 21px);
  filter: drop-shadow(5px 5px 12px gray);
}

img.ingredient_hover_image {
  opacity: 0;
  transition: 0.6s;
  margin-top: -300px;
  filter: blur(18px);
  filter: drop-shadow(5px 5px 12px gray);
}

img.ingredient_default_image {
  display: block;
  transition: 0.7s;
  opacity: 1;
  filter: blur(0);
  filter: drop-shadow(5px 5px 12px gray);
}

.ingredient-card:hover .ingredient_default_image {
  opacity: 0;
  transition: 0.8s;
  transform: translateY(-45px);
  filter: blur(18px);
}

.ingredient-card:hover img.ingredient_hover_image {
  opacity: 1;
  transition: 0.6s;
  transform: translateY(-30px);
  filter: blur(0);
  filter: drop-shadow(5px 5px 12px gray);
}